/* Board.css */
#board {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10, 100px);
    gap: 5px;
    margin: 20px;
    justify-content: center;
  }
  
  .tile {
    border: 2px solid #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    height: 100px;
    width: 100px;
    color: white;
  }
  
  .property {
    background-color: #fef200;
  }
  
  .railroad {
    background-color: #1fb25a;
  }
  
  .utility {
    background-color: #aae0fa;
  }
  
  .tax {
    background-color: #d93a96;
  }
  
  .corner {
    background-color: #0072bb;
    color: white;
  }
  